<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Project Raven{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Project Raven</h1>
      <h2>a slow embrace to a new chat platform</h2>
      <!-- Add navigation, menu, etc. -->
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2024 My Site</p>
    </footer>
  </body>
</html>
